@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}

::-webkit-scrollbar {
  width: 15px;

}

::-webkit-scrollbar-thumb {
  background-color: #493D9E; /* Blue color */
  border-radius: 25px;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

::-webkit-scrollbar-track {
  background-color: white;
  padding: 3px;
}
